@model Product
@{
    ViewData["Title"] = "Detail";
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    .product-container {
        max-width: 95%;
        margin: 0 auto;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .product-image {
        width: 150px;
        height: 200px;
        margin-bottom: 20px;
    }

    .product-name {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .product-category {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .product-price {
        font-size: 18px;
        color: green;
        margin-bottom: 10px;
    }

    .product-description {
        font-size: 16px;
        line-height: 1.6;
    }

    .active-image{
        border: 4px solid green;
    }

    /* Add additional styles as needed */
</style>

<div class="container">
    <div class="product-container">
        <!-- Product Image -->
        @if (Model.Images.Count() != 0)
        {
            foreach (var item in Model.Images)
            {

                <img class="product-image @(item.IsMain ? "active-image" : "")" src="~/img/@item.Image" alt="Product Image">

            }

        }

        <!-- Product Information -->
    <div class="product-details">
        <div class="product-name">@Model.Name</div>
        <div class="product-category">
            @Model.Category.Name
        </div>
        <div class="product-description">
            @Model.Description
        </div>

        <div class="product-price">$@Model.Price</div>
    </div>

        <div class="back mt-2">
            <a class="btn btn-info text-white" asp-action="Index">Back</a>
        </div>
    </div>

   
</div>
